.yith_pptm_item {
    height: 300px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 10px 17px -9px rgba(0, 0, 0, 0.66);
    background-color: white;
    position: relative;
}

.yith_pptm_thumbnail {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-right: 0;
    padding-right: 2px;
    position: absolute;
    top: 10%;
    right: 65%;
}

.yith_pptm_title {
    display: inline;
    font-size: 100%;
    position: absolute;
    top: 10%;
    left: 40%;
    margin: 0;
}

.yith_pptm_content {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    position: relative;
    top: 60%;
    font-size: 100%;
}

.yith_pptm_taxonomies {
    text-decoration: none;
    margin: 0;
    position: absolute;
    bottom: 5%;
    right: 7%;
    color: lightgray;
}

.yith_pptm_role {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 100%;
    text-transform: uppercase;
    color: #A8A6A4;
    font-size: 15px;
}

.yith_pptm_role a {
    text-decoration: none;
}

.yith_pptm_email {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 15px;
}

.yith_pptm_email a {
    text-decoration: none;
}

.yith_pptm_hover_highlight:hover {
    border: 2px solid lightblue;
}

.yith_pptm_hover_zoom:hover {
    transform: scale(1.2);
    z-index: 2;
}

.yith_pptm_vip {
    border: 2px solid gold;
}

.yith_pptm_rating {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 40%;
    left: 40%;
}

.yith_pptm_rating label {
    display: inline;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    color: #ccc;
}

.yith_pptm_rating .yith_pptm_star_full {
    color: #ffc700;
}

.yith_pptm_badge {
    position: absolute;
    top: 3%;
    right: 5%;
    border-radius: 10px;
    padding: 0 5px;
    color: white;
}


/*Desktop */

@media (min-width: 1281px) {
    .yith_pptm_container {
        display: grid;
        grid-template-columns: 34% 34% 34%;
        gap: 5px;
        max-width: 1500px !important;
        width: 1100%
    }
}


/*Tablet */

@media (min-width: 768px) and (max-width: 1280px) {
    .yith_pptm_container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5px;
        max-width: 1024px!important
    }
}


/*Mobile*/

@media (min-width: 481px) and (max-width: 767px) {
    .yith_pptm_container {
        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
        max-width: 767px !important
    }
}