.rating {
    display: flex;
    justify-content: flex-end;
    direction: rtl;
}

.rating input {
    display: none;
}

.rating label {
    display: contents;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    color: #ccc;
}

.rating input:checked~label {
    color: #ffc700;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #34C759;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#yith_pptm_badge_options {
    display: none;
    margin-left: 10px;
}