.yith-ppwcpa-addon-wrapper {
    border: 1px solid lightgrey;
    padding: 0px;
    margin: 10px 10px 10px 20px;
    position: relative;
}


.yith_ppwcpa_panel{
    width: 60% !important;
}

@media (min-width: 481px) and (max-width: 767px) {
    .yith-ppwcpa-addon-wrapper {
        width: auto;
    }
}

.yith-ppwcpa-addon-stgs {
    display: none;
}

.yith-ppwcpa-arrow-img {
    color: #72777c;
    padding: 1px 2px 1px 0;
    width: 100%;
}

.yith-ppwcpa-dropdown-buttton {
    border: 0;
    width: 38px;
    height: 38px;
    background: none;
    cursor: pointer;
    outline: none;
    float: left;
}

.yith-ppwcpa-toggle {
    float: right;
    position: relative;
    padding: 8px 8px 8px 0;
    min-height: 20px;
}

.form-field {
    text-align: center;
}

.woocommerce_options_panel .yith_ppwcpa_toggle_label {
    margin: 0;
    display: block;
    width: 50px;
    height: 19px;
    background: #ddd;
    cursor: pointer;
    border-radius: 15px;
    transition: all 300ms ease-in-out;
}

.woocommerce_options_panel .yith-ppwcpa-radio-label {
    float: none !important;
    margin: 0px !important;
    padding-right: 3px;
    padding-left: 10px;
    font-weight: bold;
}

.yith-ppwcpa-toggle label:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #eee;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0px 0px 1px 1px #ddd;
    transition: all 300ms ease-in-out;
}

.yith-ppwcpa-toggle input:checked+label {
    background: rgb(157, 213, 255);
}

.yith-ppwcpa-toggle input:checked+label:after {
    background: rgb(34, 151, 255);
    left: calc(50px - 25px);
}

.yith-ppwcpa-toggle input {
    display: none;
}

.woocommerce_options_panel .yith_ppwcpa_option_container input[type=text] {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.yith-ppwcpa-field-options {
    display: inline-block;
    margin: 0 0 5px 0;
}

.yith-ppwcpa-option-field label{
    text-align: center;
}

.yith-ppwcpa-field-options input, .yith-ppwcpa-field-options
label {
    display: block;
    text-align: left;
}

.woocommerce_options_panel .yith-ppwcpa-field-options input[type=text] {
    width: 80%;
}

.yith-ppwcpa-options-container {
    display: flex;
    justify-content: flex-start;
}

.yith-ppwcpa-option-field {
    padding: 5px 20px 5px 162px !important;
    margin: 9px 0;
    display: block;
}

.woocommerce_options_panel .yith-ppwcpa-field-options label {
    float: none;
    width: auto;
    margin: 0;
}

.yith-ppwcpa-delete-buttton {
    border: 0;
    width: 38px;
    height: inherit;
    background: none;
    cursor: pointer;
    outline: none;
    float: left;
    visibility: hidden;
}

.yith-ppwcpa-trash-img {
    color: #72777c;
    padding: 1px 2px 1px 0;
    width: 100%;
}

.form-field .yith_ppwcpa_name_type_selec {
    width: 50%;
}

.yith-ppwcpa-add-option {
    color: #0073aa;
    cursor: pointer;
}

.yith-ppwcpa-option-field .yith-ppwcpa-toggle{
    padding: 0 ;
    display: inline;
}

.wp-core-ui .yith-ppwcpa-remove-addon-buttton{
    background-color: grey;
    color: white;
    border: none;
}

.wp-core-ui .yith-ppwcpa-remove-addon-buttton:hover{
    background-color: rgb(231, 14, 14);
    color: white;
    border: none;
}

.yith-ppwcpa-addon-field{
    text-align: right;
}

.yith-ppwcpa-option-field-enabler{
    display: inline-block;
}
