#yith_ppwcpa_addons_container {
    margin-bottom: 15%;
}

.yith_ppwcpa_addon_price label {
    display: inline-block;
}

#yith_ppwcpa_addons_container input[type=text] {
    width: 100% !important;
}

#yith_ppwcpa_addons_container input[type=checkbox] {
    width: 1.5rem !important;
}

#yith_ppwcpa_addons_container input[type=radio]+label {
    display: inline;
}

.yith-ppwcpa-toggle {
    float: left;
    position: relative;
    min-height: 20px;
    margin-right: 10px;
}

.yith-ppwcpa-toggle input {
    display: none !important;
}

.yith-ppwcpa-toggle .yith_ppwcpa_toggle_label {
    margin: 0;
    display: block;
    width: 50px;
    height: 19px;
    background: #ddd;
    cursor: pointer;
    border-radius: 15px;
    transition: all 300ms ease-in-out;
}

.yith-ppwcpa-toggle label:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #eee;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0px 0px 1px 1px #ddd;
    transition: all 300ms ease-in-out;
}

.yith-ppwcpa-toggle input:checked+label {
    background: rgb(157, 213, 255);
}

.yith-ppwcpa-toggle input:checked+label:after {
    background: rgb(34, 151, 255);
    left: calc(50px - 25px);
}

.yith-ppwcpa-toggle input {
    display: none;
}

.yith_ppwcpa_radio_container {
    margin-bottom: 10px;
}

.yith_ppwcpa_price_summary {
    display: grid;
    grid-template-columns: auto auto;
    background: rgb(235, 235, 235);
    margin-bottom: 30px;
}

.yith_ppwcpa_summary_item_title {
    padding: 0 40px 20px 20px;
}
.yith_ppwcpa_summary_item_option_title {
    padding: 0 40px 20px 20px;
}

.yith_ppwcpa_summary_item {
    padding: 0 20px 20px 0;
    text-align: right;
}

.yith_ppwcpa_summary_item h4{
    margin-top: 20px;
}

.yith_ppwcpa_summary_item_title {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 0;
}

#yith_ppwcpa_variant_addons_container{
    margin-bottom: 15%;
}

#yith_ppwcpa_variant_addons_container input[type=text] {
    width: 100% !important;
}

#yith_ppwcpa_variant_addons_container input[type=checkbox] {
    width: 1.5rem !important;
}

#yith_ppwcpa_variant_addons_container input[type=radio]+label {
    display: inline;
}