.include_custom_message_field label {
    color: blue;
    padding: 0 10px;
}

.woocommerce_options_panel .yith-ppwcn-radio-label {
    float: none !important;
    margin: 0px !important;
    padding-right: 3px;
    padding-left: 10px;
    font-weight: bold;
}

.yith_ppwcn_price_stg {
    display: none;
}

.yith_ppwcn_badge_option {
    display: none;
}

.clasillas {
    display: flex;
    justify-content: flex-start;
}

.clasillas input {
    width: 5px;
}

.form-field {
    text-align: center;
}

.form-field select {
    width: 95%;
}

.form-field .wp-picker-container {}

.yith-ppwcn-form-field .wp-picker-container label {
    margin: 0 !important;
    width: fit-content !important;
}

.yith_ppwcn_inputs_group {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.yith_ppwcn_input_item {
    text-align: center;
    display: inline-block;
    width: fit-content;
}

.yith_ppwcn_input_item input[type=number],
.yith_ppwcn_input_item select {
    width: 92% !important;
    line-height: 1.3 !important;
    height: 44px !important;
}

#yith_purchase_notes_settings {
    padding-bottom: 50px;
}

.yith_ppwcn_input_item .wp-picker-container {}

.yith-ppwcn-form-field {
    text-align: center;
    padding: 0 0 0 160px !important;
    margin: 30px 0 0 0;
    font-size: 12px;
    line-height: 24px;
}

.yith_ppwcn_title_settings {
    margin-left: 20px;
}

.ppwcn-product-metabox-text {
    float: none !important;
}

.ppwcn-product-metabox-number {
    float: none !important;
}

.ppwcn-product-metabox-textarea {
    height: 68px !important;
    float: none !important;
}

.yith-plugin-fw-field-wrapper label {
    float: none !important;
}

.show-yith_ppwcn_is_enabled{
    display: block;
}

.hide-yith_ppwcn_is_enabled{
    display: none;
}

.show-yith_ppwcn_badge_enable{
    display: block;
}

.hide-yith_ppwcn_badge_enable{
    display: none;
}

.show-yith_ppwcn_price_type{
    display: block;
}

.hide-yith_ppwcn_price_type{
    display: none;
}