.yith_ppwcn_container {
    width: 80%;
    margin: 10px 0;
}

.yith_ppwcn_container #yith_ppwcn_title {
    font-weight: bold;
}

.yith_ppwcn_container .yith_ppwcn_price {
    text-align: right;
    font-size: 20px;
}

.single-product form.cart #yith_ppwcn_note_text {
    width: 100%;
}

.yith_ppwcn_container .yith_ppwcn_price label {
    display: inline-block;
}

.yith_ppwcn_badge_container {
    position: absolute;
    top: 3%;
    left: 0;
}

.yith_ppwcn_badge_product_container {
    width: 48%;
    max-width: 600px;
    height: 200px;
    position: absolute;
    top: 2.9%;
    left: 0;
    z-index: 1;
}

@media (min-width: 481px) and (max-width: 767px) {
    .yith_ppwcn_badge_product_container {
        width: 100%;
        top: 1.9%;
    }
}

.yith_ppwcn_note_badge_shop {
    position: absolute;
    top: 12%;
    padding: 3px 10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    width: 145px;
}