
/*Se ejecutarán los cambio al div nuevo haciendolo desaparecer */
#box{
    visibility: hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color:#f3f2ec;
    width: auto;
    height: auto;
    color:gray;
    font-weight: bold;
}

