#yith_ppwcet_fields_table tr:first-child {
    text-align: center;
    border: 1px solid black;
}

#yith_ppwcet_fields_table tr {
    text-align: center;
}

#yith_ppwcet_fields_table {
    border-collapse: collapse;
    border-spacing: 50px 0;
    border: 1px solid black;
    width: 70%;
    height: 200px;
}

#yith_ppwcet_fields_table th,
#yith_ppwcet_fields_table td {
    padding: 5px 10px;
}

#yith_ppwcet_fields_table tr:nth-child(even) {
    background-color: #f0efef;
}