.yith_ppwcet_shortcode_container {
    width: 100%;
}

.yith_ppwcet_shortcode_container input[type=text] {
    width: 80%;
    float: left;
    margin-bottom: 10px;
}

.yith_ppwcet_shortcode_container .yith_ppwcet_search_button {
    float: right;
    width: 80px;
    height: 50px;
    font-size: 10px;
}

.yith_ppwcet_post_list_title {
    background-color: rgb(61, 121, 88);
    color: white;
    padding: 10px 20px;
    width: 100%;
    float: left;
}

.yith_ppwcet_post_list_header {
    width: 100%;
    border-bottom: 1px solid grey;
    float: left;
}

.yith_ppwcet_post_list_rows {
    width: 100%;
    border-bottom: 1px solid lightgray;
    float: left;
}

.yith_ppwcet_column {
    float: left;
}

.yith_ppwcet_ticket_id_title {
    margin-left: 30px;
}

.yith_ppwcet_ticket_id {
    margin-left: 40px;
}

.yith_ppwcet_row_action {
    float: right;
    padding: 10px 0;
}

.yith_ppwcet_row_action .yith_ppwcet_check_button {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 40px;
    text-decoration: none;
}

.yith_ppwcet_shortcode_container button:hover {
    text-decoration: none;
}

.yith_pppwcet_status_symbol_checked{
    width: 40px;
    height: 40px;
    position: relative; 
}

.yith_pppwcet_status_symbol_checked::before{
    font-size: 25px;
    position: absolute;
    bottom: 5%;
    text-decoration: none;
    color: green;
}

.yith_pppwcet_status_symbol::before {
    font-size: 25px;
    position: absolute;
    bottom: 5%;
    text-decoration: none;
    color: grey;
}

.yith_pppwcet_status_symbol {
    width: 40px;
    height: 40px;
    position: relative;
}

.yith_ppwect_row_info {
    width: 80%;
    float: left;
    margin-left: 80px;
    background-color: rgb(223, 221, 221);
}

.yith_ppwect_row_info_header{
    border-bottom: 1px solid rgb(194, 194, 194);
}
.yith_ppwect_row_info_header span{
    margin-left: 10px;
}

.yith_ppwect_row_info_content{
    margin-left: 10px;
}

.yith_ppwect_row_info_name{
    float: left;
}

.yith_ppwect_row_info_surname{
    float: left;
    margin-left: 20px;
}

.yith_ppwcet_error{
    background-color: rgb(221, 11, 11);
    color: white;
    padding: 0px 5px;
    border-radius: 5px;
}