.yith_ppwcet_checked {
    color: green !important;
    font-size: 23px !important;
}

.yith_ppwcet_pending {
    color: '' !important;
    font-size: 23px !important;
}

#yith_ppwcet_status_colummn {
    font-size: 17px;
}