#yith_ppraf_container {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

#yith_ppraf_form_container {
    padding-left: 20px;
}

#yith_ppraf_container h3 {
    margin: 10px 0 20px 10px;
}

#yith_ppraf_msg_container {
    display: none;
}

#yith_ppraf_msg_container_conf {
    border-radius: 3px;
    background-color: #34C759;
}

#yith_ppraf_msg_container_err {
    border-radius: 3px;
    background-color: red;
}

#yith_ppraf_msg {
    padding: 10px;
}

#yith_ppraf_check {
    border-color: grey;
}

#yith_ppraf_check_label {
    display: inline-block;
}

#yith_ppraf_user_list_container {
    margin-top: 10px;
    background-color: khaki;
    border: 2px solid black;
}

#yith_ppraf_user_list_container h6 {
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: underline;
}