.yith-ppwcpm-add-new-hide{
    display: none;
 }

.yith-ppwcpm-add-new-show{
    display: block;
}

.yith-ppwcpm-button-add-new{
    position: absolute!important;
    right: 65% !important;
    bottom: 87%!important;

}

.yith_ppwcpm_apply_rule_product_list{
    
}